<!DOCTYPE html>
<html lang="en">
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="{{ url_for('static', filename='main.css') }}">
<script type=text/javascript>
	$(function() {
		var selectedSentiment;
		var errorMsg = "<h4><span class='glyphicon glyphicon-exclamation-sign' style='color:red'> </span> Make sure you've selected a tag and a sentiment!</h4>";
		var timer;
		$('#save').bind('click', function() {
			$.getJSON('/save', {
				bug : $("#bug").prop('checked'),
				fr : $("#featureReq").prop('checked'),
				ff : $("#featureFeed").prop('checked'),
				other : $("#other").val(),
				sentiment : selectedSentiment,
			}, function(data) {
				if(data.error == "error") 				
					bootbox.alert(errorMsg);				
				else
					bootbox.alert("<h3> <span class='glyphicon glyphicon-floppy-save'></span> Data saved...</h3>");
			});
			return false;
		});
		$('button#next').bind('click', function() {
			$.getJSON('/next', {
				bug : $("#bug").prop('checked'),
				fr : $("#featureReq").prop('checked'),
				ff : $("#featureFeed").prop('checked'),
				other : $("#other").val(),
				sentiment : selectedSentiment,
			}, function(data) {
				if(update(data))
					addStep(data.numberOfReviewsPerProject)
			});
			return false;
		});

		$('button#prev').bind('click', function() {
			$.getJSON('/prev', {
				bug : $("#bug").prop('checked'),
				fr : $("#featureReq").prop('checked'),
				ff : $("#featureFeed").prop('checked'),
				other : $("#other").val(),
				sentiment : selectedSentiment,
			}, function(data) {
				if(update(data))
				subStep(data.numberOfReviewsPerProject);

			});
			return false;
		});
		$('a#sentiment').bind(
				'click',
				function(e) {

					$('a#sentiment').parent().removeClass('active');
					$("a[name = '" + e.target.name + "']").parent()
							.toggleClass('active');
					selectedSentiment = e.target.name;
				});

		function update(data) {
			if(data.error == "error") {
				bootbox.alert(errorMsg);
				return false;
			}
			$("#comment").text(data.comment);
			$("#stars").text(data.stars);
			$("#title").text(data.title);
			$("#bug").prop('checked', data.bug);
			$("#featureFeed").prop('checked', data.ff);
			$("#featureReq").prop('checked', data.fr);
			console.log(data.sentiment)
			if (data.sentiment) {
				$('a#sentiment').parent().removeClass('active');
				$("a[name = '" + data.sentiment + "']").parent().toggleClass(
						'active');
				selectedSentiment = data.sentiment;
			} else {
				$('a#sentiment').parent().removeClass('active');
				selectedSentiment = null;
			}

			if (data.other) {
				$("#otherCheck").prop('checked', true);
				$("#other").val(data.other);
			} else {
				$("#other").val('');
				$("#otherCheck").prop('checked', false);
			}
			return true;

		}

		$('a#link').bind('click', function(e) {
			$.getJSON('/changeProject', {
				currProject : e.target.name,
				bug : $("#bug").prop('checked'),
				fr : $("#featureReq").prop('checked'),
				ff : $("#featureFeed").prop('checked'),
				other : $("#other").val(),
				sentiment : selectedSentiment
			}, function(data) {
				$("span#currentProject").text(data.currentProject);
				update(data);
				setProgressBar(data.numberOfReviewsPerProject,data.reviewId);
			});
			return false;
		});

		function convertToBool(val) {
			if (val == 'True')
				return true
			if (val == 'NULL' || val == 'False' || val == 'None')
				return false
		}
		(function assignVals() {
			$("#bug").prop('checked', convertToBool('{{bug}}'));
			$("#featureFeed").prop('checked', convertToBool('{{ff}}'));
			$("#featureReq").prop('checked', convertToBool('{{fr}}'));
			selectedSentiment = '{{sentiment}}';
			$("a[name = '{{sentiment}}']").parent().toggleClass('active');
			if ('{{other}}') {
				$("#otherCheck").prop('checked', true);
				$("#other").val('{{other}}');
			} else {
				$("#otherCheck").prop('checked', false);
			}
		})();
		var $bar = $('#bar');		

		function addStep(value){		    
			stepWidth = ($(".progress").width() * (100/value) )/100
			result = $bar.width()   + stepWidth;
			if($bar.width() >= $(".progress").width())
				return;
			$bar.animate({ width: result},80);		   
		}
		function subStep(value){	
			if($bar.width() > 0){
			    $bastepWidth = ($(".progress").width() * (100/value) )/100
				result = $bar.width()  - stepWidth;
			    $bar.animate({ width: result},80);
			}				
		}
		function setProgressBar(numberOfReviews, reviewId) {
			console.log(numberOfReviews + "  "+ reviewId);
			stepWidth = ($(".progress").width() * (100/numberOfReviews) )/100
			$bar.width(0);
			if($bar.width() >= $(".progress").width())
				return;
			console.log("result "+ stepWidth * reviewId);
			$bar.animate({ width: stepWidth * reviewId},80);
		}
		setProgressBar({{numberOfReviewsPerProject}},{{reviewId}});
	});
</script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h3>
				A tool for labeling feedback <span class="label label-danger">Beta</span>
				<div class="btn-group menu-bar">
					<form class="form" action="/logout" method="post" name="logout">
						
						<button  type="submit" href="javascript:void();" id="logout"
							class="btn btn-default form-logout">
							Logout <span class="glyphicon glyphicon-log-out"></span>
						</button>
					</form>
					<button type="button" href="javascript:void();" id="save"
						class="btn btn-default form-save">
						Save <span class="glyphicon glyphicon-save"></span>
					</button>
				
				</div>
				<span id="user">{{username}}</span>
			</h3>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span class="dropdown"> <a data-toggle="dropdown"
						class="dropdown-toggle">Project <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for p in projects %}
							<li><a href="javascript:void();" name="{{p.name}}"
								id="link"> {{ p.name }}</a></li> {% endfor %}
						</ul>
					</span> <span id="currentProject">{{currentProject}}</span>
				</h3>

			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-7">
						<div class="panel panel-default comment">
							<div class="panel-body">
								<h4 id="title">{{ title }}</h4>
								<span id="comment">{{ comment }}</span>
							</div>
						</div>
						<div class="row btn-bar">
							<div class="col-md-9">
								<div class="btn-group">
									<button type="button" href="javascript:void();" id="prev"
										class="btn btn-default">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</button>
									<button type="button" href="javascript:void();" id="next"
										class="btn btn-default">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</button>
								</div>
							</div>
							<div class="col-md-3">
								<h5>
									<span class="glyphicon glyphicon-star"></span> Ratings: <span
										id="stars">{{stars}} </span>
								</h5>
							</div>
						</div>
					</div>

					<div class="col-md-5">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5 class="input-field-header">Choose the appropriate tag(s):</h5>
								<div class="input-group">
									<input id="bug" type="checkbox"> <span
										class="input-field">Bug Report</span></input> </br> <input id="featureReq"
										type="checkbox"> <span class="input-field">Feature
										Request</span></input> </br> <input id="featureFeed" type="checkbox"> <span
										class="input-field">Feature Feedback</span></input> </br> <input
										id="otherCheck" type="checkbox"> <span
										class="input-field">Other</span></input> </br> <input id="other"
										type="text" class="form-control">
								</div>
								</br>
								<h5 class="sentiment-field-header">Choose the
									sentiment:</h5>
								<ul class="pagination sentiment">
									<li><a id="sentiment" name="1">very negative</a></li>
									<li><a id="sentiment" name="2">negative</a></li>
									<li><a id="sentiment" name="3">Neutral</a></li>
									<li><a id="sentiment" name="4">positive</a></li>
									<li><a id="sentiment" name="5">very positive</a></li>
								</ul>
							</div>

						</div>

					</div>

				</div>
				<div class="row">
					<div class = "col-md-7">
						<div class="progress ">
		  					<div id = "bar" class="bar progress-bar progress-striped active"  role="progressbar" style="width: 0%">
		    					<span class="sr-only">45% Complete</span>
		  					</div>
						</div>
					</div>
				</div>
			</div>

			</form>
		</div>
</body>
</html>